
h1,h2,h3{
    margin-block-start: 0.33em;
    margin-block-end: 0.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.item-poster h3{
    line-height: 15px;   
}

.content{
    padding: 0;
    margin: 0;
    background-color: #333333;
    height: 70px;
}

ul.nav-bar{
    list-style-type: none;
    overflow: hidden;
}

ul.nav-bar li{
    float: left;
}

ul.nav-bar li a{
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 16px;
    line-height: 40px;
}

ul.nav-bar li a:hover{
    background-color: #111111;
}

.head{
    height: 150px;
}

.search-form input[type=text]{
    font-size: 17px;
    float: left;
    background-color: transparent;
    border: 1px solid rgb(214, 214, 214);
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
}

.article{
    padding: 15px;
}

.article h1{
    margin-bottom: 25px;
}

.item{
    
    height: 300px;
}

.item-poster{
    float: left;
    margin-left: 15px;
    width: 45%;
    height: 250px;
    overflow: hidden;
    background-color: bisque;
    border: 1px solid #333333;
}

.imageview img{
    width : 150px;
    height: 250px;
}

.imageview{
    float: left;
    margin-right: 5px;
}

.info{
    
    padding: 10px;
    margin-left: 5px;
}